# Port number
PORT=8008

# URL of the Mongo DB
MONGODB_URL=mongodb://127.0.0.1:27017/

# JWT
# JWT secret key
JWT_SECRET=thisisasamplesecret
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=30
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30
# Number of minutes after which a reset password token expires
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10
# Number of minutes after which a verify email token expires
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=10

# SMTP configuration options for the email service
# For testing, you can use a fake SMTP service like Ethereal: https://ethereal.email/create
SMTP_HOST=email-server
SMTP_PORT=587
SMTP_USERNAME=email-server-username
SMTP_PASSWORD=email-server-password
EMAIL_FROM=support@yourapp.com

# Cookie configs
COOKIE_SECRET=thisisasamplesecret

# URL of client application
CLIENT_URL=http://localhost:5000

# Line bot sdk
CHANNEL_ACCESS_TOKEN=b1NtlxVHF4lKO3d+nXOIsfBXZkvQS9uz2W88ugbDUGMngFZHCVAjHFNfKRq5YOmbJGulG7qWUs3p+qcGlob3XRYjbISjQGB/ShHME979g1oESwiu0/msqyb4fW8btsH7+t2RrWQhjtkI8d1OhaNFkgdB04t89/1O/w1cDnyilFU=
CHANNEL_SECRET=f4ed07335c0bf8351efed37755423d8a